# These are generated when we run the build
/emulator/
/examples/target/
/examples/project/target/
/hello/project/target/
/hello/target/
/hello/*.v
/hello/*.out
/hello/*.cpp
/hello/*.h
/hello/*.tab
/problems/project/target/
/problems/target/
/solutions/project/target/
/solutions/target/
/generated*/
.idea/
chisel-tutorial.iml
examples/Adder.out
target/
doc/*.log
doc/*.aux
doc/chisel-tutorial.pdf
*.graffle
/eclipse.bin
.classpath
.project
.settings
